<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About us</h2>
                <hr class="light">
                <p class="text-center">
			Hoursec is an innovative machine learning architecture that reduces by up to 80% the amount of 
			data needed for optimising learning algorithms, as a consequence, for the first time in the 
			semiconductor industry, we are capable of doing both, continuous training and inference on a same chip. 
			As a first application for our breakthrough, we are creating an anomaly detector for deep fakes in 
			the financial market and preventive maintenance for manufacturing. Consequently, we reduce the energy required 
			for computation – lower power, faster high performance simulations.
                </p>		    
		    
                <!--<a href="#contact" class="btn btn-default btn-xl">Get Started!</a>-->
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-default btn-xl" data-toggle="modal" data-target="#aboutModal">
                  What makes us special?
                </button>

                <!-- Modal -->
                <div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h2 class="modal-title" id="aboutModal">
                          Our idea
                          <hr class="primary">
                        </h2>
                      </div>
                      <div class="modal-body">
                          <p class="text-muted">
				  From the well know claim "AI is the new electricity." -Andrew Ng, to "Hoursec is the new sustainable AI that consumes less 
				  electricity."
                        <hr class="primary">
                          <p class="text-muted">
				  Our AI deployments reduce the amount of energy and data required for training and inference which 
				  protects the privacy of our customers not only by cryptographic measures but with off the cloud data analytics. 
				  Besides, the enviromental impact of our energy efficient processor, we have the speed-up advantage
				  to detect anomalous from critical data and real from artificially generated fake information.
                        <hr class="primary">
                          <p class="text-muted">
				  Innovative R&D: Our products are based on neuroscientific innovative technologies developed by us in close collaboration with international Research
				  Institutions for the development of AI solutions at the Extreme Edge, where latencies of nanoseconds are crucial during physical 
				  experiments and trading simulations. Our real-time inference at the edge can also be used as a platform for robust risk analysis 
				  and predictive maintenance, as a strategy for saving costs during manufacturing process.
                        <hr class="primary">
                          <p class="text-muted">
				  Machine Learning SW/HW Customer-centric strategies: We offer the highest quality solutions confirmed by publications in 
				  scientific journals. Together with our business and development strategies, we reach product-market fit from our deployments. We 
				  offer strategic solutions targeting your required machine learning throughput and autonomous data pipelines. From gravitational 
				  waves to voice assistants, we understand the value of engineering, and our proprietorship Training and Inference On-Chip guarantees 
				  the most energy-efficient data analytics implementations. 
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>

            </div>
        </div>
    </div>
</section>
