<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About us</h2>
                <hr class="light">
                <p class="text-faded">
			Hoursec Energy Efficient AI-On-Chip technology was born after a neuroscientific research invention that went through fortunate steps for 
			implementation that shaped us as an Innovative Startup. This gave us the breakthrough to reduce in a factor of three thousand (3000X), the 
			energy requirements for AI workloads. With Hoursec, our customers have sustainable training and inference for real-time Business Decisions.
			Hoursec inspiration on Synaptic functioning, allow us to MAXIMIZE the ratio of information transmission given by the flexibility and high 
			throughput that is characteristic of how the brain works. Thanks to our theoretical re-thinking for computation, we have a granular approach
			to simulate Complex Systems for IoT and Edge Computing. Our sustainable AI-On-Chip platform offers Optimization and Analytics from the Data 
			Center to Edge devices.
                </p>		    
		    
                <!--<a href="#contact" class="btn btn-default btn-xl">Get Started!</a>-->
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-default btn-xl" data-toggle="modal" data-target="#aboutModal">
                  What makes us special?
                </button>

                <!-- Modal -->
                <div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h2 class="modal-title" id="aboutModal">
                          Our idea
                          <hr class="primary">
                        </h2>
                      </div>
                      <div class="modal-body">
                          <p class="text-responsive">
				  From the well know claim "AI is the new electricity." -Andrew Ng, to "Hoursec is the new sustainable AI that consumes less 
				  electricity."
                        <hr class="primary">
                          <p class="text-responsive">
				  Our AI deployments reduce the amount of energy and data required for training and inference which 
				  protects the privacy of our customers not only by cryptographic measurements but with offline data analytics. 
				  We are inspired by the Brain and its mechanisms for sensing and projecting at the fastest precisions in time and space while 
				  creating a continuous projection of what we see, heard, feel, smell and communicate.
                        <hr class="primary">
                          <p class="text-responsive">
				  Innovative R&D: Our products are based on innovative technologies developed by us in close collaboration with international Research
				  Institutions for the development of AI solutions at the Extreme Edge, where latencies of nanoseconds are crucial during physical 
				  experiments and trading simulations. Our real-time inference at the edge can also be used as a platform for robust risk analysis 
				  and predictive maintenance, as a strategy for saving costs during manufacturing process.
                        <hr class="primary">
                          <p class="text-responsive">
				  Machine Learning SW/HW Customer-centric strategies: We offer the highest quality solutions confirmed by publications in 
				  scientific journals. Together with our business and development strategies, we reach product-market fit from our deployments. We 
				  offer strategic solutions targeting your required machine learning throughput and autonomous data pipelines. From gravitational 
				  waves to voice assistants, we understand the value of engineering, and our proprietorship Training and Inference On-Chip guarantees 
				  the most energy-efficient data analytics implementations. 
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>

            </div>
        </div>
    </div>
</section>
