<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About us</h2>
                <hr class="light">
                <p class="text-center">
			Hoursec’s energy efficient AI-On-Chip technology was born after a neuroscientific research invention that 
			went through the fortunate steps for implementation, shaping us as an innovative startup. This gave us the 
			breakthrough to reduce the energy requirements for AI workloads by a factor of 3000X. With Hoursec, 
			customers can achieve sustainable training and inference for real-time business decisions. Hoursec’s 
			inspiration from brain-inspired synaptic functioning, allows us to maximise the ratio of information 
			transmission by giving flexibility and a high throughput characteristics found in the brain. Thanks to 
			our theoretical and interdisciplinary re-thinking of computation, we have a granular approach to 
			simulating complex systems for IoT and edge computing. Our sustainable AI-On-Chip platform offers 
			optimisation and analytics right from the Data Centre, to devices at the network’s Edge.
                </p>		    
		    
                <!--<a href="#contact" class="btn btn-default btn-xl">Get Started!</a>-->
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-default btn-xl" data-toggle="modal" data-target="#aboutModal">
                  What makes us special?
                </button>

                <!-- Modal -->
                <div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h2 class="modal-title" id="aboutModal">
                          Our idea
                          <hr class="primary">
                        </h2>
                      </div>
                      <div class="modal-body">
                          <p class="text-muted">
				  From the well know claim "AI is the new electricity." -Andrew Ng, to "Hoursec is the new sustainable AI that consumes less 
				  electricity."
                        <hr class="primary">
                          <p class="text-muted">
				  Our AI deployments reduce the amount of energy and data required for training and inference which 
				  protects the privacy of our customers not only by cryptographic measurements but with offline data analytics. 
				  We are inspired by the Brain and its mechanisms for sensing and projecting at the fastest precisions in time and space while 
				  creating a continuous projection of what we see, heard, feel, smell and communicate.
                        <hr class="primary">
                          <p class="text-muted">
				  Innovative R&D: Our products are based on innovative technologies developed by us in close collaboration with international Research
				  Institutions for the development of AI solutions at the Extreme Edge, where latencies of nanoseconds are crucial during physical 
				  experiments and trading simulations. Our real-time inference at the edge can also be used as a platform for robust risk analysis 
				  and predictive maintenance, as a strategy for saving costs during manufacturing process.
                        <hr class="primary">
                          <p class="text-muted">
				  Machine Learning SW/HW Customer-centric strategies: We offer the highest quality solutions confirmed by publications in 
				  scientific journals. Together with our business and development strategies, we reach product-market fit from our deployments. We 
				  offer strategic solutions targeting your required machine learning throughput and autonomous data pipelines. From gravitational 
				  waves to voice assistants, we understand the value of engineering, and our proprietorship Training and Inference On-Chip guarantees 
				  the most energy-efficient data analytics implementations. 
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>

            </div>
        </div>
    </div>
</section>
