<!--Section: Contact v.1-->
<section id="contact">

  <!--Section heading-->
  <div class="col-lg-8 col-lg-offset-2 text-center">
    <h2 class="section-heading">Contact us</h2>
    <hr class="primary">
    <p>Do you have questions? Contact Us</p>
  </div>

  <div class="row">

    <!--Grid column-->
    <div class="col-lg-5 mb-4 col-md-offset-1">

      <!--Form with header-->
      <div class="card">

        <div class="card-body">
          <!--Header-->
          <div class="form-header blue accent-1">
            <h3 style="margin-top: 0px;">Ready to make your next AI project with us?</h3>
          </div>

          <br>

          <!--Contact FORM -->
          <form id="contact-form" name="contact-form" action="php/mail.php" method="POST">
          
            <div class="status" style="color: #ff0033;"></div>

            <!--Body-->
            <div class="md-form">
              <input type="text" id="form-name" class="form-control">
              <label for="form-name">Your name</label>
            </div>

            <div class="md-form">
              <input type="text" id="form-email" class="form-control">
              <label for="form-email">Your email</label>
            </div>

            <div class="md-form">
              <input type="text" id="form-subject" class="form-control">
              <label for="form-Subject">Subject</label>
            </div>

            <div class="md-form">
              <textarea id="form-text" class="form-control md-textarea" rows="3"></textarea>
              <label for="form-text">Message</label>
            </div>

          </form>
          <div class="text-center mt-4">
            <button class="btn btn-primary btn-xl" onclick="validateForm();">Submit</button>
          </div>

        </div>

      </div>
      <!--Form with header-->

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-5">

      <!--Google map-->
      <div id="map-container-google-11" class="z-depth-1-half map-container-6" style="height: 200px">
        <iframe src="https://goo.gl/maps/NXwtEfaT8djVorubA">
          frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>

      <br>
      <!--Buttons-->
      <div class="row text-center">
        <div class="col-md-4">
          <a class="btn-floating blue accent-1">
            <i class="fa fa-map-marker fa-3x wow bounceI" data-wow-delay=".1s"></i>
          </a>
          <p>Uetlibergstrasse 111B, 8045 Zurich </p>
          <p>Switzerland</p>
        </div>

        <div class="col-md-4">
          <a class="btn-floating blue accent-1">
            <i class="fa fa-phone-square fa-3x wow bounceI" data-wow-delay=".1s"></i>
          </a>
          <p>+ 41 76 477 9121</p>
          <p>Mon - Fri, 7:00-17:00</p>
        </div>
        
        <div class="col-md-4">
            <a href="https://linkedin.com/company/hoursec">
                <i class="fa fa-linkedin fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>Linkedin Hoursec</p>
            </a>
        </div>
        
        <div class="col-md-4">
          <a class="btn-floating blue accent-1">
            <i class="fa fa-at fa-3x wow bounceIn" data-wow-delay=".1s"></i>
          </a>
          <p>hours2sec at hoursec dot ch</p>
        </div>
    </div>
    <!--Grid column-->

  </div>

</section>
<!--Section: Contact v.1-->
