<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Licensing and co-development information. Add Hoursec to your project or product upon request.</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 text-center">
               <div class="service-box">
               <a href="https://www.youtube.com/watch?v=44KvHwRHb3A">
                <img src="img/events/Drones.png" id="event11" class="img-responsive"/>
              </a>
                    <h3>Real-time autonomous adaptive control.</h3>
                    <p class="text-muted">Microcontrolers: For low power, low data applications like the 3051 Unmanned Aerial Vehicles 
                        (UAVs) simultaneous airborne. (DISCLAIMER: Video is for illustration purposes only).</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
               <div class="service-box">
               <a href="https://www.youtube.com/watch?v=eQsgGCXdAlY">
                <img src="img/events/Moon.jpg" id="event11" class="img-responsive"/>
              </a>
                    <h3>Continuous optimization and control of satellite data.</h3>
                    <p class="text-muted"> Fiel Programmable Gate Arrays: For noisy, high-speed data fusion in the hardest conditions like
                        satellite data capturing constantly the overview effect of our beautiful but fragile planet that we need to take care
                        of. (DISCLAIMER: Video is for illustration purposes only).</p>
                </div>
            </div>
        </div>
    </div>
</section>
