<section id="events">
  <div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="section-heading">Events</h2>
            <hr class="primary">
            <p>
              You can find us at:
            </p>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 text-center">
            <div class="event-box">
              <a href="http://www.parkinnovaare.ch/swiss-cern-bic-technologies">
                <img src="img/events/3.jpg" id="event1" class="img-responsive"/>
              </a>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 text-center">
            <div class="event-box">
              <a href="https://www.edgecomputingworld.com/ecwe2021/">
                <img src="img/events/1.png" id="event1" class="img-responsive"/>
              </a>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 text-center">
            <div class="event-box">
              <a href="https://www.venturelab.swiss/venture-leaders-technology">
                <img src="img/events/2.png" id="event1" class="img-responsive"/>
              </a>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 text-center">
            <div class="event-box">
              <a href="https://www.swissinnovationchallenge.ch/index.html">
                <img src="img/events/4.png" id="event1" class="img-responsive"/>
              </a>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>
