<section id="events">
  <div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="section-heading">News</h2>
            <hr class="primary">
            <p>
              You can find us at:
            </p>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 text-center">
            <div class="event-box">
              <a href="https://anthroconomy.digital/2022/03/16/computation-does-not-require-energy-only-the-movement-of-data-in-conversation-with-alexandra-pinto-ceo-hoursec/">
                <img src="img/events/8.png" id="event8" class="img-responsive"/>
              </a>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 text-center">
            <div class="event-box">
              <a href="https://survivaltech.substack.com/p/alexandra-hoursec">
                <img src="img/events/7.png" id="event7" class="img-responsive"/>
              </a>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 text-center">
            <div class="event-box">
              <a href="https://www.nzz.ch/themen-dossiers/sif/innovationsland-schweiz-swiss-technology-award-2021-ld.1656285/">
                <img src="img/events/6.jpg" id="event6" class="img-responsive"/>
              </a>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 text-center">
            <div class="event-box">
              <a href="https://www.swiss-innovation.com/gewinner-finalisten/">
                <img src="img/events/5.jpg" id="event5" class="img-responsive"/>
              </a>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 text-center">
            <div class="event-box">
              <a href="http://www.parkinnovaare.ch/swiss-cern-bic-technologies">
                <img src="img/events/3.jpg" id="event3" class="img-responsive"/>
              </a>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 text-center">
            <div class="event-box">
              <a href="https://www.edgecomputingworld.com/ecwe2021/">
                <img src="img/events/1.png" id="event1" class="img-responsive"/>
              </a>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 text-center">
            <div class="event-box">
              <a href="https://www.venturelab.swiss/venture-leaders-technology">
                <img src="img/events/4.png" id="event4" class="img-responsive"/>
              </a>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 text-center">
            <div class="event-box">
              <a href="https://www.swissinnovationchallenge.ch/index.html">
                <img src="img/events/2.png" id="event2" class="img-responsive"/>
              </a>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>
