<section id="events">
  <div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="section-heading">News</h2>
            <hr class="primary">
            <p>
              You can find us at:
            </p>
        </div>
          <div class="col-lg-6 col-md-6 text-center">
            <div class="event-box">
              <a href="https://www.csem.ch">
                <img src="img/events/13.jpg" id="event13" class="img-responsive"/>
              </a>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 text-center">
            <div class="event-box">
              <a href="https://www.innosuisse.ch/inno/en/home/support-for-start-ups/startup-coaching.html">
                <img src="img/events/12.jpg" id="event12" class="img-responsive"/>
              </a>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 text-center">
            <div class="event-box">
              <a href="https://www.startupdays.ch/pitching22/">
                <img src="img/events/11.png" id="event11" class="img-responsive"/>
              </a>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 text-center">
            <div class="event-box">
              <a href="https://www.venture.ch/finalists-2022">
                <img src="img/events/10.png" id="event10" class="img-responsive"/>
              </a>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 text-center">
            <div class="event-box">
              <a href="https://www.yesdelft.com/news/meet-the-accelerator-batch-spring-2022/">
                <img src="img/events/9.png" id="event9" class="img-responsive"/>
              </a>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 text-center">
            <div class="event-box">
              <a href="https://survivaltech.substack.com/p/alexandra-hoursec">
                <img src="img/events/7.png" id="event7" class="img-responsive"/>
              </a>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 text-center">
            <div class="event-box">
              <a href="https://www.nzz.ch/themen-dossiers/sif/innovationsland-schweiz-swiss-technology-award-2021-ld.1656285/">
                <img src="img/events/6.jpg" id="event6" class="img-responsive"/>
              </a>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 text-center">
            <div class="event-box">
              <a href="https://www.swiss-innovation.com/gewinner-finalisten/">
                <img src="img/events/5.jpg" id="event5" class="img-responsive"/>
              </a>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 text-center">
            <div class="event-box">
              <a href="http://www.parkinnovaare.ch/swiss-cern-bic-technologies">
                <img src="img/events/3.jpg" id="event3" class="img-responsive"/>
              </a>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 text-center">
            <div class="event-box">
              <a href="https://www.edgecomputingworld.com/ecwe2021/">
                <img src="img/events/1.png" id="event1" class="img-responsive"/>
              </a>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>
