<header>
  <video disablePictureInPicture autoplay muted loop id="headerVideo" playsinline
    class="header-video"
  >
    <source src="../videos/header.m4v" type="video/mp4">
  </video>
  <script>
    document.getElementById('headerVideo').play();
  </script>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>
              <img src="img/hoursec.png" alt="logo" width="150" height="50">
            </h1>
              <h2>From Hours to Seconds</h2>
            <hr>
            <p>Efficient AI computing at the Edge.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
