<header>
  <video disablePictureInPicture autoplay muted loop id="headerVideo" playsinline
    class="header-video"
  >
    <source src="../videos/header.m4v" type="video/mp4">
  </video>
  <script>
    document.getElementById('headerVideo').play();
  </script>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>
              <img src="img/hoursec.png" alt="logo" width="372.19" height="194.39">
            </h1>
              <h2>Self-learning machines - reinvented.</h2>
            <hr>
            <p>Speeding-Up Computation from Hours to Seconds.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
