<header>
  <video disablePictureInPicture autoplay muted loop id="headerVideo" playsinline
    class="header-video"
  >
    <source src="../videos/header.m4v" type="video/mp4">
  </video>
  <script>
    document.getElementById('headerVideo').play();
  </script>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>
              <img src="img/hoursec.png" alt="logo" width="100" height="150">
              oursec
            </h1>
              <h2>Enhancing Computing</h2>
            <hr>
            <p>From Hours to Seconds - Robust Low Power AI!</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
