<section class="no-padding" id="portfolio">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <h2 class="section-heading">Our technology</h2>
          <hr class="primary">
        </div>
      </div>
        <div class="row no-gutter">
            <div class="col-lg-6 col-md-6 text-center">
                <div class="portfolio-box">
                    <img src="img/portfolio/4.jpg" id="image4" class="img-responsive"/>
                    <video controls hidden id="video4">
                      <source type='video/mp4'>
                    </video>
                    <div class="portfolio-box-caption" onclick="loadVideo('../videos/Hoursec.mp4', 4)" id="portfolio4">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Our core product
                            </div>
                            <div class="project-name">
                                Training and Inference On-Chip
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="portfolio-box">
                    <img src="img/portfolio/1.jpg" id="image1" class="img-responsive"/>
                    <video controls hidden id="video1">
                      <source type='video/mp4'>
                    </video>
                    <div class="portfolio-box-caption" onclick="loadVideo('../videos/anomaly_detection.m4v', 1)" id="portfolio1">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Astrophysics
                            </div>
                            <div class="project-name">
                                Anomaly detection in gravitational waves data
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="portfolio-box">
                        <img src="img/portfolio/2.jpg" id="image2" class="img-responsive"/>
                        <video controls hidden id="video2">
                          <source type='video/mp4'>
                        </video>
                        <div class="portfolio-box-caption" onclick="loadVideo('../videos/lhc_data.m4v', 2)" id="portfolio2">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Particle Physics
                            </div>
                            <div class="project-name">
                                Processing LHC data
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="portfolio-box">
                    <img src="img/portfolio/3.jpg" id="image3" class="img-responsive"/>
                    <video controls hidden id="video3" class="portfolio-video">
                      <source type='video/mp4'>
                    </video>
                    <div class="portfolio-box-caption" onclick="loadVideo('../videos/spad.m4v', 3)" id="portfolio3">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Electronics
                            </div>
                            <div class="project-name">
                                MEGAFRAME SPAD Technology
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
