<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Applications</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-video-camera wow bounceIn text-primary"></i>
                    <h3>Retail, Surveillance.</h3>
                    <p class="text-muted">Integrated real-time training and inference sensor solurion with MegaPixel resolution. Detection and classification.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-automobile wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Autonomous Driving, Robotics.</h3>
                    <p class="text-muted">Accelerated Simulations for Embedded Systems and Control together with localization and sensing for planning. </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-credit-card wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Finance, Healthcare, Insurance</h3>
                    <p class="text-muted">Fast Quantum Monte Carlo, risk analysis and high dimensional data analytics for autonomous predictive decisions.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-rocket wow bounceIn text-primary"></i>
                    <h3>Quantum Imaging, Satellite</h3>
                    <p class="text-muted">Remote sensing under the lowest energy, area and power conditions.</p>
                </div>
            </div>
        </div>
    </div>
</section>
