<section class="bg-dark" id="team">
<div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <!--<a href="#contact" class="btn btn-default btn-xl">Get Started!</a>-->
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-default btn-xl" data-toggle="modal" data-target="#teamModal">
                  Who are we?
                </button>

                <!-- Modal -->
                <div class="modal fade" id="teamModal" tabindex="-1" role="dialog" aria-labelledby="teamModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h2 class="modal-title" id="teamModal">
                          Our experience
                          <hr class="primary">
                        </h2>
                      </div>
                      <div class="modal-body">
                          <p class="text-muted">
                                  We are experimental physicists, Neural Systems, and Computation with Machine Learning domain expertice. We are true innovators with 
                                  interdisciplinary careers and a proven history of strong resilience, determination, and success. We already have top scientific 
                                  publications and Hoursec is an opportunity for all of us to do something with a bigger impact where our scientific intuitions 
                                  come together to build cutting edge products. Are you up to a change? Please contact us. 
                        <hr class="primary">
                        <p class="text-muted">
                                Our advisory team are senior researchers and seria, entrepreneurs with expertise in electrical engineer and Quantum Architectures 
                                from ETH Zurich and the financial industry. We count with the support of Founders Institute Switzerland, Yes!Delft Netherlands and 
                                Innosuisse.
                      </div>
                      <div class="modal-footer"> 
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>      
        <div class="row">
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <img src="img/team/me.png" class="circular--square" width="200" height="200">
                    <h4>Alexandra Pinto - CEO</h3>
                    <h5>Neural Systems and Computation expert.</h3>
                    <!--<p class="text-white">About me...</p>-->
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                  <img src="img/team/Behzad.jpeg" class="circular--square" width="200" height="200">
                  <h4>Dr. Behzad Salami - CTO</h3>
                  <h5>High Performance Computing expert.</h3>
                    <!--<p class="text-white">About me...</p>-->
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                  <img src="img/team/Mathieu.jpeg" class="circular--square" width="200" height="200">
                  <h4>Prof. Dr. Mathieu Luisier</h3>
                  <h5>Technical Advisor.</h3>
                    <!--<p class="text-white">About me...</p>-->
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                  <img src="img/team/Markus.jpeg" class="circular--square" width="200" height="200">
                  <h4>Markus Oswald</h3>
                  <h5>Business Advisor.</h3>
                    <!--<p class="text-white">About me...</p>-->
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                  <img src="img/team/Berend.jpeg" class="circular--square" width="200" height="200">
                  <h4>Berend Bouwmeester</h3>
                  <h5>Head of Scaling and commerce.</h3>
                    <!--<p class="text-white">About me...</p>-->
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                  <img src="img/team/Marios.jpeg" class="circular--square" width="200" height="200">
                  <h4>Marios Panourgias</h3>
                  <h5>AI applied architectures team leader.</h3>
                    <!--<p class="text-white">About me...</p>-->
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                  <img src="img/team/Ayoub.jpeg" class="circular--square" width="200" height="200">
                  <h4>Ayoub Sadeghi</h3>
                  <h5>Microarchitectures Design team leader.</h3>
                    <!--<p class="text-white">About me...</p>-->
                </div>
            </div>
        <div
    </div>
</section>
