<section class="bg-dark" id="team">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
		    <!--<a href="#contact" class="btn btn-default btn-xl">Get Started!</a>-->
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-default btn-xl" data-toggle="modal" data-target="#aboutModal">
                  Who we are?
                </button>

                <!-- Modal -->
                <div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h2 class="modal-title" id="aboutModal">
                          Our Values
                          <hr class="primary">
                        </h2>
                      </div>
                      <div class="modal-body">
                          <p class="text-muted">
				  We are physicists, machine learning experts, senior semiconductor engineers, quantum computing architects, and business developers.
				  Besides our passion for entrepreneurship and problem solving, we are innovators in each one of our fields, the ones who truly 
				  think outside the box and with a strong compromise to make something with impact. We have the moral responsibility to make the 
				  most energy-efficient smart AI deployments with a complete paradigm shift that blends interdisciplinary research and cutting-edge 
				  engineering.
                        <hr class="primary">
                        <p class="text-muted">
				We are looking for talented people to join us and for partnerships with visionaries and corporates that care for the computing problem and work 
                            hard on innovative solutions.  
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="service-box">
                    <img src="img/team/me.png" class="circular--square" width="200" height="200">
                    <h4>Alexandra Pinto - Founder</h3>
                    <h5>Domain Expert Neural Systems and Computation</h3>
                    <!--<p class="text-white">About me...</p>-->
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="img/team/filip.png" class="circular--square" width="200" height="200">
                    <h4>Filip Morawski - Head of Data Analytics</h3>
                    <h5>Domain Expert Astrophysics</h3>
                    <!--<p class="text-white">About me...</p>-->
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                  <img src="img/team/edoardo.png" class="circular--square" width="200" height="200">
                  <h4>Edoardo Charbon - Technical Board</h3>
                  <h5>Domain expert Quantum Engineering</h3>
                    <!--<p class="text-white">About me...</p>-->
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                  <img src="img/team/Mike.png" class="circular--square" width="200" height="200">
                  <h4>Mike Beunder - Business Board</h3>
                  <h5>Experienced Semiconductor engineer and Founder</h3>
                    <!--<p class="text-white">About me...</p>-->
                </div>
            </div>
        </div>
    </div>
</section>
