<section class="bg-dark" id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="img/female.png" class="circular--square" width="100" height="100">
                    <h3>Alexandra Pinto</h3>
                    <p class="text-white">About me...</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="img/male.jpg" class="circular--square" width="100" height="100">
                    <h3>Filip Morawski</h3>
                    <p class="text-white">About me...</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="img/male.jpg" class="circular--square" width="100" height="100">
                    <h3>Maurizio Pierini</h3>
                    <p class="text-white">About me...</p>
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 text-center">
              <div class="service-box">
                  <img src="img/male.png" class="circular--square" width="100" height="100">
                  <h3>Edoardo Charbon</h3>
                  <!-- Dropdown Abstract --> 
                               <div class="dropdown" style="float: left"> 
                               <a class="btn btn-primary dropdown-toggle rightmargin" data-toggle="dropdown" href="#"> 
                               About me 
                               <span class="caret"></span> 
                               </a> 
                               <div class="abstract dropdown-menu" role="menu" aria-labelledby="dLabel"> 
                               <i> 
                               Not too much to say

                               </i> 
                               </div> 
                               </div>

              </div>
          </div>
        </div>
    </div>
</section>
